@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');

.modal{
    display: none;
}

.modal .content{
    background-color: #2A2E34;
    margin: 15% auto;
    padding: 20px;
    border-radius: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content img{
    width: 150px;
    margin-bottom: 0;
}

.content h3{
    color: white;
    font-family: 'Arbutus Slab', sans-serif;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 100;
    text-align: center;
}