@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');

.modal .content{
    background-color: #2A2E34;
    margin: 15% auto;
    padding: 20px;
    border-radius: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content img{
    width: 150px;
    margin-bottom: 0;
}

.content h3{
    color: white;
    font-family: 'Arbutus Slab', sans-serif;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 100;
    text-align: center;
}

#buttonOk{
    height: 35px;
    width: 70px;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: rgb(6 24 44 / 40%) 0px 0px 0px 2px, rgb(6 24 44 / 65%) 0px 4px 6px -1px, rgb(255 255 255 / 8%) 0px 1px 0px inset;
    cursor: pointer;
}