@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');

.aside{
    background-color: #2A2E34;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
}

.logoIntro{
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 40px;
}
.logoIntro img{
    width: 70px;
}
#divTexto{
    display: inline-block;
    text-align: center;
}
#h1Intro{
    font-family: 'Arbutus Slab', sans-serif;
    margin-bottom: 0;
    font-size: 22px;
    color: #be981b;
}
#pIntro{
    font-family: 'Arbutus Slab', sans-serif;
    margin-top: 0;
    font-size: 16px;
    color: antiquewhite;
}

.formDica{
    padding-top: 10px;
    padding-left: 20px;
}
.labelInput{
    color: white;
    font-family: 'Arbutus Slab', sans-serif;
    padding-top: 20px;
}

.input{
    width: 78%;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 6px;
    border: 1.5px solid #E9EAEC;
    background-color: #0B0C0C;
    -webkit-box-shadow: -6px 6px 23px 0px rgba(228,182,26,0.1); 
    box-shadow: -6px 6px 23px 0px rgba(228,182,26,0.1);
    color: whitesmoke;
    font-family: 'Arbutus Slab', sans-serif;
}

.textArea{
    border-radius: 6px;
    border: 1.5px solid #E9EAEC;
    background-color: #0B0C0C;
    -webkit-box-shadow: -6px 6px 23px 0px rgba(228,182,26,0.1); 
    box-shadow: -6px 6px 23px 0px rgba(228,182,26,0.1);
    color: white;
    font-family: 'Arbutus Slab', sans-serif;
    padding-left: 6px;
    padding-top: 6px;
    width: 80%;
}

#inputCategoria{
    width: 82%;
}

#inputLink{
    width: 80%;
}

#enviarDica{
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'Arbutus Slab', sans-serif;
}

#limparForm{
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 100px;
    font-family: 'Arbutus Slab', sans-serif;
}

.navegacao{
    position: fixed;
    top: 0;
    right: 0;
}

#tituloCaract{
    display: inline-block;
}