@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');

.aside{
    background-color: #2A2E34;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
}

.logoIntro{
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 40px;
}
.logoIntro img{
    width: 70px;
}
#divTexto{
    display: inline-block;
    text-align: center;
}
#h1Intro{
    font-family: 'Arbutus Slab', sans-serif;
    margin-bottom: 0;
    font-size: 22px;
    color: #be981b;
}
#pIntro{
    font-family: 'Arbutus Slab', sans-serif;
    margin-top: 0;
    font-size: 16px;
    color: antiquewhite;
    margin-bottom: 5px;
}

.formDica{
    padding-top: 10px;
    padding-left: 20px;
}

.labelInput{
    color: white;
    font-family: 'Arbutus Slab', sans-serif;
}

.input{
    width: 90%;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 6px;
    border: 1.5px solid #E9EAEC;
    background-color: #0B0C0C;
    -webkit-box-shadow: -6px 6px 23px 0px rgba(228,182,26,0.1); 
    box-shadow: -6px 6px 23px 0px rgba(228,182,26,0.1);
    color: whitesmoke;
    font-family: 'Arbutus Slab', sans-serif;
}

.textArea{
    border-radius: 6px;
    border: 1.5px solid #E9EAEC;
    background-color: #0B0C0C;
    -webkit-box-shadow: -6px 6px 23px 0px rgba(228,182,26,0.1); 
    box-shadow: -6px 6px 23px 0px rgba(228,182,26,0.1);
    color: white;
    font-family: 'Arbutus Slab', sans-serif;
    padding-left: 6px;
    padding-top: 6px;
    width: 90%;
    resize: none;
}

#inputCategoria{
    width: 93%;
}

#inputLink{
    width: 90%;
}

.button{
    width: 120px;
    height: 35px;
    font-family: 'Arbutus Slab', sans-serif;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

#limparForm{
    margin-left: 93px;
    width: 123px;
    height: 35px;
    font-family: 'Arbutus Slab', sans-serif;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

header{
    height: auto;
    top: 0;
}

.navegacao{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 71.4%;
    background-color: white;
}

#dicasPorCateg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.tituloCateg{
    width: 120px;
    height: 110px;
    margin-top: 15px;
    margin-bottom: 37px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tituloCateg h4{
    text-align: center;
    font-size: 20px;
    font-family: 'Arbutus Slab', sans-serif;
    margin-top: 18px;
}
.tituloCateg p{
    text-align: center;
    font-size: 18px;
    font-family: 'Arbutus Slab', sans-serif;
}

.pesquisaDicas{
    position: fixed;
    right: 0;
    width: 70.3%;
    padding-left: 15px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    background-color: white;
}

#barraPesquisa{
    width: 796px;
    height: 25px;
    border: 2.5px solid #2A2E34;
    border-radius: 14px;
    padding-left: 12px;
    padding-bottom: 3px;
    font-family: 'Arbutus Slab', sans-serif;
    font-size: 16px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#imgPesquisa{
    width: 22px;
    padding-top: 3px;
}
#pesquisar{
    background-color: #2A2E34;
    border-radius: 14px;
    margin-left: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    cursor: pointer;
}
#limparPesquisa{
    background-color: #2A2E34;
    border-radius: 14px;
    margin-left: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    cursor: pointer;
}
#imgLimpa{
    width: 22px;
    padding-top: 3px;
}

.cardDicas{
    position: absolute;
    top: 220px;
    right: 0;
    padding: 20px;
    padding-top: 20px;
    text-align: center;
    width: 68.5%;
    background-color: #666666;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dica{
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    background-color: #d6d6d6;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: 100%px;
}

.botoesCard{
    margin-right: 0;
}

#deletaDica{
    border-radius: 15px;
    width: 42px;
    height: 42px;
    background-color: #2A2E34;
    padding-bottom: 0;
    bottom: 0;
    cursor: pointer;
}
#imgDeletaDica{
    width: 25px;
}
#editaDica{
    border-radius: 15px;
    width: 42px;
    height: 42px;
    padding-left: 8px;
    background-color: #2A2E34;
    cursor: pointer;
}
#imgEditaDica{
    width: 25px;
}
#videoDica{
    border-radius: 15px;
    width: 42px;
    height: 42px;
    padding-left: 7px;
    padding-top: 4px;
    background-color: #2A2E34;
    cursor: pointer;
}
#imgVideoDica{
    width: 25px;
}

.dica h1{
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 25px;
}
#idElemento{
    visibility: hidden;
    margin: 0;
}

.descricao{
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}